@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Minecraft';
	src: url('/fonts/minecraft_font.ttf') format('truetype');
}